<div class="container text-center">
    <h3 class="my-4">Podio de la Carrera</h3>
    <div class="podio">
        <!-- 2ยบ lugar -->
        <% podio.forEach( c => { %> <% if(c.posicion === "2") {%>
        <div class="puesto">
            <div class="medalla segundo">
                <%= c.nombre %> <br />
                <%= c.apellidos %> <br />
                Dorsal: <%= c.id_corredor %>
            </div>
        </div>
        <% } %> <% }) %>

        <!-- 1ยบ lugar -->
        <% podio.forEach( c => { %> <% if(c.posicion === "1") { %>
        <div class="puesto">
            <div class="medalla primero">
                <%= c.nombre %> <br />
                <%= c.apellidos %> <br />
                Dorsal: <%= c.id_corredor %>
            </div>
        </div>
        <% } %> <% }) %>

        <!-- 3ยบ lugar -->
        <% podio.forEach( c => { %> <% if(c.posicion === "3") { %>
        <div class="puesto">
            <div class="medalla tercero">
                <%= c.nombre %> <br />
                <%= c.apellidos %> <br />
                Dorsal <%= c.id_corredor %>
            </div>
        </div>
        <% } %> <% }) %>
    </div>
</div>
