<%- include ('partials/head') %> <%- include ('partials/header') %>

<!-- cambiar el espaciado del bloque -->
<div class="container-fluid my-5">
    <div class="row g-4 justify-content-center align-items-stretch">
        <!-- Columna pequeña para carreras -->
        <%- include ('partials/aside') %>
        <!-- Columna login -->
        <div
            class="col-12 col-md-5 d-flex align-items-stretch justify-content-around"
        >
            <div class="card w-100 shadow h-100">
                <div
                    class="card-body d-flex flex-column align-items-center justify-content-around"
                >
                    <h4>Cursa Moritz Sant Antoni</h4>
                    <p class="text-center mx-5 me-5">
                        La Cursa Sant Antoni 2025 es disputarà el diumenge 26 de
                        gener. La prova, d’asfalt i de 10 quilòmetres, travessa
                        els llocs més emblemàtics del barri barceloní. Una de
                        les novetats d’enguany és la cursa de 5 quilòmetres, per
                        a tots aquells que no vulguin fer la cursa llarga. També
                        tenen modalitats de curses infantils gestionades per les
                        escoles del barri i la coneguda com a Milla dels Miops.
                        Consulta tot el que cal saber sobre el recorregut i
                        inscripcions de la competició.
                    </p>
                    <img
                        class="img-fluid rounded shadow mt-3 mb-3"
                        style="max-width: 450px; cursor: pointer"
                        alt="Cursa Moritz Sant Antoni"
                        src="/img/cursa-moritz.jpg"
                        data-bs-toggle="modal"
                        data-bs-target="#carruselModal"
                    />
                </div>
            </div>
        </div>
        <!-- Sidebar derecha -->
        <%- include ('partials/sidebar') %>
    </div>
</div>

<%- include ('partials/footer') %>
